$header-height: 75px;

$section-width: 180px;
$section-margin: 30px;
$section-font-size: 20px;


ul {
	margin: 0;
	padding: 0;
}

.form-group {
	label {
		text-align: center;
		height: 34px;
		line-height: 34px;
	}
}

.module {
	background: url(/assets/images/bg/main.jpg) no-repeat;
	background-size: cover;
	padding: 0 6%;

	.header {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;

		&-title, &-info {
			height: $header-height;
			line-height: $header-height;
			color: #fff;
		}

		&-info a {
			font-size: 20px;
			color: #fff;
			margin: 0 10px;
			text-decoration: none;
			outline: none;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	li {
		display: block;
		width: $section-width;
		height: $section-width;
		line-height: $section-width;
		border-radius: 50%;
		text-align: center;
		color: #fff;
		margin: $section-margin;
		font-size: $section-font-size;
		cursor: pointer;
		transition: all .4s ease;
		transform: scale(.8);

		&:hover {
			transform: scale(1);
		}

		&:last-child {
			background-color: #000;
			color: #fff;
		}
	}
}